In [87]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [86]:
news = {
    '날짜': [],
    '기사개수': []
}

for i in range(1,31) :
    start = 1
    news_count = 0
    while True: 
        day = ''
        
        if i < 10 :
            day = '0'+str(i)
        else :
            day = str(i)
        params = {
            'where': 'news',
            'sm':'tab_pge',
            'query': '삼성전자',
            'sort':0,
            'photo':0,
            'field':0,
            'pd': 3,
            'ds': '2022.12.' +day,
            'de': '2022.12.' +day,
            'cluster_rank':78,
            'mynews': 0,
            'office_type':0,
            'office_section_code': 0,
            'news_office_checked':'', 
            'nso': f'so:r,p:from202212{day}to202212{day},a:all',
            'start': start
    }

        response = requests.get('https://search.naver.com/search.naver?', params =params)
        soup = BeautifulSoup(response.text, 'html.parser')
        news_count +=len(soup.select('ul.list_news > li'))

        if soup.select_one('div.sc_page a.btn_next')['aria-disabled']== 'true' :

            print('기사끝')
            break

        start += 10
    news['날짜'].append('202212'+day)
    news['기사개수'].append(news_count)
    print('202212'+day)

기사끝
20221201
기사끝
20221202
기사끝
20221203
기사끝
20221204
기사끝
20221205
기사끝
20221206
기사끝
20221207
기사끝
20221208
기사끝
20221209
기사끝
20221210
기사끝
20221211
기사끝
20221212
기사끝
20221213
기사끝
20221214
기사끝
20221215
기사끝
20221216
기사끝
20221217
기사끝
20221218
기사끝
20221219
기사끝
20221220
기사끝
20221221
기사끝
20221222
기사끝
20221223
기사끝
20221224
기사끝
20221225
기사끝
20221226
기사끝
20221227
기사끝
20221228
기사끝
20221229
기사끝
20221230

In [90]:
news_df = pd.DataFrame(news,columns = ['기사개수'], index=news['날짜'])

In [91]:
news_df

          기사개수
20221201  1094
20221202   462
20221203    70
20221204   383
20221205  1316
20221206  1338
20221207   903
20221208   608
20221209   628
20221210    70
20221211   248
20221212   751
20221213   800
20221214   620
20221215   843
20221216   612
20221217    60
20221218   436
20221219   798
20221220   678
20221221   963
20221222   771
20221223   781
20221224    60
20221225   390
20221226   950
20221227   704
20221228   785
20221229   749
20221230   454

In [92]:
stock = {
    '날짜' : [],
    '코스피지수': []
}

headers ={
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36'
}

for page in range(2,5) :
    response = requests.get('https://finance.naver.com/item/sise_day.naver?code=005930&page='+ str(page), headers = headers)
    soup = BeautifulSoup(response.text, 'html.parser')

    for item in soup.select('table.type2 tr'):
        if len(item.select('td')) ==7 :
            stock['날짜'].append(item.select('td')[0].text.replace('.',''))
            stock['코스피지수'].append(item.select('td')[1].text.replace(',',''))

In [94]:
stock_df = pd.DataFrame(stock, columns = ['코스피지수'], index = stock['날짜'])

In [95]:
stock_df

          코스피지수
20230104  57800
20230103  55400
20230102  55500
20221229  55300
20221228  56600
20221227  58100
20221226  57900
20221223  58100
20221222  59100
20221221  58000
20221220  58600
20221219  59500
20221216  59500
20221215  59300
20221214  60500
20221213  59700
20221212  59500
20221209  60400
20221208  59200
20221207  58900
20221206  59200
20221205  60300
20221202  60400
20221201  62600
20221130  62200
20221129  60600
20221128  60100
20221125  61000
20221124  61400
20221123  61000

In [99]:
import copy

In [100]:
news_before = copy.deepcopy(news)

In [103]:
news_before['기사개수'].insert(0,0)

In [106]:
news_before['기사개수'].pop(len(news_before['기사개수'])-1)

454

In [111]:
news_before_df = pd.DataFrame(news_before, columns=['기사개수'], index = news_before['날짜'])

In [114]:
news_before_df.columns = ['전일기사개수']

In [117]:
news_all_df = pd.concat([news_df,news_before_df],axis =1)

In [119]:
news_all_df['기사비교']=np.where(news_all_df['기사개수']>news_all_df['전일기사개수'],'상승','하락')

In [120]:
news_all_df

          기사개수  전일기사개수 기사비교
20221201  1094       0   상승
20221202   462    1094   하락
20221203    70     462   하락
20221204   383      70   상승
20221205  1316     383   상승
20221206  1338    1316   상승
20221207   903    1338   하락
20221208   608     903   하락
20221209   628     608   상승
20221210    70     628   하락
20221211   248      70   상승
20221212   751     248   상승
20221213   800     751   상승
20221214   620     800   하락
20221215   843     620   상승
20221216   612     843   하락
20221217    60     612   하락
20221218   436      60   상승
20221219   798     436   상승
20221220   678     798   하락
20221221   963     678   상승
20221222   771     963   하락
20221223   781     771   상승
20221224    60     781   하락
20221225   390      60   상승
20221226   950     390   상승
20221227   704     950   하락
20221228   785     704   상승
20221229   749     785   하락
20221230   454     749   하락

In [121]:
stock_before = copy.deepcopy(stock)

In [123]:
stock_before['코스피지수'].insert(0,0)

In [124]:
stock_before['코스피지수'].pop(len(stock_before['코스피지수'])-1)

'61000'

In [125]:
stock_before_df = pd.DataFrame(stock_before, columns =['코스피지수'], index = stock_before['날짜'])

In [128]:
stock_before_df.columns = ['전일코스피지수']

In [130]:
stock_all_df = pd.concat([stock_df,stock_before_df],axis = 1)

In [133]:
stock_all_df['코스피지수'].astype

<bound method NDFrame.astype of 20230104    57800
20230103    55400
20230102    55500
20221229    55300
20221228    56600
20221227    58100
20221226    57900
20221223    58100
20221222    59100
20221221    58000
20221220    58600
20221219    59500
20221216    59500
20221215    59300
20221214    60500
20221213    59700
20221212    59500
20221209    60400
20221208    59200
20221207    58900
20221206    59200
20221205    60300
20221202    60400
20221201    62600
20221130    62200
20221129    60600
20221128    60100
20221125    61000
20221124    61400
20221123    61000
Name: 코스피지수, dtype: object>

In [136]:
stock_all_df['코스피지수'] = stock_all_df['코스피지수'].astype('int64')

In [137]:
stock_all_df['전일코스피지수'] = stock_all_df['전일코스피지수'].astype('int64')

In [139]:
stock_all_df['코스피비교'] = np.where(stock_all_df['코스피지수']>stock_all_df['전일코스피지수'], '상승', '하락')

In [140]:
stock_all_df

          코스피지수  전일코스피지수 코스피비교
20230104  57800        0    상승
20230103  55400    57800    하락
20230102  55500    55400    상승
20221229  55300    55500    하락
20221228  56600    55300    상승
20221227  58100    56600    상승
20221226  57900    58100    하락
20221223  58100    57900    상승
20221222  59100    58100    상승
20221221  58000    59100    하락
20221220  58600    58000    상승
20221219  59500    58600    상승
20221216  59500    59500    하락
20221215  59300    59500    하락
20221214  60500    59300    상승
20221213  59700    60500    하락
20221212  59500    59700    하락
20221209  60400    59500    상승
20221208  59200    60400    하락
20221207  58900    59200    하락
20221206  59200    58900    상승
20221205  60300    59200    상승
20221202  60400    60300    상승
20221201  62600    60400    상승
20221130  62200    62600    하락
20221129  60600    62200    하락
20221128  60100    60600    하락
20221125  61000    60100    상승
20221124  61400    61000    상승
20221123  61000    61400    하락

In [142]:
pd.concat([news_all_df,stock_all_df],axis = 1)

            기사개수  전일기사개수 기사비교    코스피지수  전일코스피지수 코스피비교
20221201  1094.0     0.0   상승  62600.0  60400.0    상승
20221202   462.0  1094.0   하락  60400.0  60300.0    상승
20221203    70.0   462.0   하락      NaN      NaN   NaN
20221204   383.0    70.0   상승      NaN      NaN   NaN
20221205  1316.0   383.0   상승  60300.0  59200.0    상승
20221206  1338.0  1316.0   상승  59200.0  58900.0    상승
20221207   903.0  1338.0   하락  58900.0  59200.0    하락
20221208   608.0   903.0   하락  59200.0  60400.0    하락
20221209   628.0   608.0   상승  60400.0  59500.0    상승
20221210    70.0   628.0   하락      NaN      NaN   NaN
20221211   248.0    70.0   상승      NaN      NaN   NaN
20221212   751.0   248.0   상승  59500.0  59700.0    하락
20221213   800.0   751.0   상승  59700.0  60500.0    하락
20221214   620.0   800.0   하락  60500.0  59300.0    상승
20221215   843.0   620.0   상승  59300.0  59500.0    하락
20221216   612.0   843.0   하락  59500.0  59500.0    하락
20221217    60.0   612.0   하락      NaN      NaN   NaN
20221218   436.0    60.0   상승      NaN      NaN   NaN
20221219   798.0   436.0   상승  59500.0  58600.0    상승
20221220   678.0   798.0   하락  58600.0  58000.0    상승
20221221   963.0   678.0   상승  58000.0  59100.0    하락
20221222   771.0   963.0   하락  59100.0  58100.0    상승
20221223   781.0   771.0   상승  58100.0  57900.0    상승
20221224    60.0   781.0   하락      NaN      NaN   NaN
20221225   390.0    60.0   상승      NaN      NaN   NaN
20221226   950.0   390.0   상승  57900.0  58100.0    하락
20221227   704.0   950.0   하락  58100.0  56600.0    상승
20221228   785.0   704.0   상승  56600.0  55300.0    상승
20221229   749.0   785.0   하락  55300.0  55500.0    하락
20221230   454.0   749.0   하락      NaN      NaN   NaN
20230104     NaN     NaN  NaN  57800.0      0.0    상승
20230103     NaN     NaN  NaN  55400.0  57800.0    하락
20230102     NaN     NaN  NaN  55500.0  55400.0    상승
20221130     NaN     NaN  NaN  62200.0  62600.0    하락
20221129     NaN     NaN  NaN  60600.0  62200.0    하락
20221128     NaN     NaN  NaN  60100.0  60600.0    하락
20221125     NaN     NaN  NaN  61000.0  60100.0    상승
20221124     NaN     NaN  NaN  61400.0  61000.0    상승
20221123     NaN     NaN  NaN  61000.0  61400.0    하락

In [144]:
all_df = pd.concat([news_all_df,stock_all_df],axis = 1, join = 'inner')

In [145]:
all_df

          기사개수  전일기사개수 기사비교  코스피지수  전일코스피지수 코스피비교
20221201  1094       0   상승  62600    60400    상승
20221202   462    1094   하락  60400    60300    상승
20221205  1316     383   상승  60300    59200    상승
20221206  1338    1316   상승  59200    58900    상승
20221207   903    1338   하락  58900    59200    하락
20221208   608     903   하락  59200    60400    하락
20221209   628     608   상승  60400    59500    상승
20221212   751     248   상승  59500    59700    하락
20221213   800     751   상승  59700    60500    하락
20221214   620     800   하락  60500    59300    상승
20221215   843     620   상승  59300    59500    하락
20221216   612     843   하락  59500    59500    하락
20221219   798     436   상승  59500    58600    상승
20221220   678     798   하락  58600    58000    상승
20221221   963     678   상승  58000    59100    하락
20221222   771     963   하락  59100    58100    상승
20221223   781     771   상승  58100    57900    상승
20221226   950     390   상승  57900    58100    하락
20221227   704     950   하락  58100    56600    상승
20221228   785     704   상승  56600    55300    상승
20221229   749     785   하락  55300    55500    하락

In [147]:
all_df.drop(['20221201'],inplace = True)

In [148]:
all_df

          기사개수  전일기사개수 기사비교  코스피지수  전일코스피지수 코스피비교
20221202   462    1094   하락  60400    60300    상승
20221205  1316     383   상승  60300    59200    상승
20221206  1338    1316   상승  59200    58900    상승
20221207   903    1338   하락  58900    59200    하락
20221208   608     903   하락  59200    60400    하락
20221209   628     608   상승  60400    59500    상승
20221212   751     248   상승  59500    59700    하락
20221213   800     751   상승  59700    60500    하락
20221214   620     800   하락  60500    59300    상승
20221215   843     620   상승  59300    59500    하락
20221216   612     843   하락  59500    59500    하락
20221219   798     436   상승  59500    58600    상승
20221220   678     798   하락  58600    58000    상승
20221221   963     678   상승  58000    59100    하락
20221222   771     963   하락  59100    58100    상승
20221223   781     771   상승  58100    57900    상승
20221226   950     390   상승  57900    58100    하락
20221227   704     950   하락  58100    56600    상승
20221228   785     704   상승  56600    55300    상승
20221229   749     785   하락  55300    55500    하락

In [155]:
all_df[all_df['코스피비교'] == all_df['기사비교']]

          기사개수  전일기사개수 기사비교  코스피지수  전일코스피지수 코스피비교
20221205  1316     383   상승  60300    59200    상승
20221206  1338    1316   상승  59200    58900    상승
20221207   903    1338   하락  58900    59200    하락
20221208   608     903   하락  59200    60400    하락
20221209   628     608   상승  60400    59500    상승
20221216   612     843   하락  59500    59500    하락
20221219   798     436   상승  59500    58600    상승
20221223   781     771   상승  58100    57900    상승
20221228   785     704   상승  56600    55300    상승
20221229   749     785   하락  55300    55500    하락

In [156]:
all_df[all_df['코스피비교'] != all_df['기사비교']]

          기사개수  전일기사개수 기사비교  코스피지수  전일코스피지수 코스피비교
20221202   462    1094   하락  60400    60300    상승
20221212   751     248   상승  59500    59700    하락
20221213   800     751   상승  59700    60500    하락
20221214   620     800   하락  60500    59300    상승
20221215   843     620   상승  59300    59500    하락
20221220   678     798   하락  58600    58000    상승
20221221   963     678   상승  58000    59100    하락
20221222   771     963   하락  59100    58100    상승
20221226   950     390   상승  57900    58100    하락
20221227   704     950   하락  58100    56600    상승

In [158]:
len(all_df[all_df['코스피비교'] == all_df['기사비교']])

10

In [159]:
len(all_df[all_df['코스피비교'] != all_df['기사비교']])

10